<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Site>http://11.0.0.1/</Site>
  <ProxyAddress />
  <ProxyPort>0</ProxyPort>
  <Folder>Текущая папка</Folder>
  <File>Прикрепленные пациенты (Выгрузка из СРЗ).XLSX</File>
  <DownloadFile>true</DownloadFile>
  <Threads>10</Threads>
  <hidePassword>false</hidePassword>
  <Accounts>
    <Credential>
      <ProtectedLogin>МойЛогин1</ProtectedLogin>
      <ProtectedPassword>МойПароль1</ProtectedPassword>
      <Requests>800</Requests>
    </Credential>
    <Credential>
      <ProtectedLogin>МойЛогин2</ProtectedLogin>
      <ProtectedPassword>МойПароль2</ProtectedPassword>
      <Requests>850</Requests>
    </Credential>
  </Accounts>
  <EncryptLevel>2</EncryptLevel>
  <RenameGender>true</RenameGender>
  <ColumnAutoWidth>true</ColumnAutoWidth>
  <RenameColumnNames>true</RenameColumnNames>
  <AutoFilter>true</AutoFilter>
  <ColumnOrder>true</ColumnOrder>
  <ColumnSynonims>
    <ColumnSynonim>
      <name>ENP</name>
      <altName>Полис</altName>
      <hide>false</hide>
      <delete>false</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>FIO</name>
      <altName>ФИО</altName>
      <hide>false</hide>
      <delete>false</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>SEX</name>
      <altName>Пол</altName>
      <hide>false</hide>
      <delete>false</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>BIRTHDAY</name>
      <altName>Дата рождения</altName>
      <hide>false</hide>
      <delete>false</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>SNILS</name>
      <altName>СНИЛС</altName>
      <hide>false</hide>
      <delete>false</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>OLR_NUM</name>
      <altName>Участок</altName>
      <hide>false</hide>
      <delete>false</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>TERRITORY</name>
      <altName>Регион</altName>
      <hide>false</hide>
      <delete>false</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>DISTRICT</name>
      <altName>Район</altName>
      <hide>false</hide>
      <delete>false</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>CITY</name>
      <altName>Город</altName>
      <hide>false</hide>
      <delete>false</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>TOWN</name>
      <altName>Населенный пункт</altName>
      <hide>false</hide>
      <delete>false</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>STREET</name>
      <altName>Улица</altName>
      <hide>false</hide>
      <delete>false</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>HOUSE</name>
      <altName>Дом</altName>
      <hide>false</hide>
      <delete>false</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>CORPUS</name>
      <altName>Корпус</altName>
      <hide>false</hide>
      <delete>false</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>FLAT</name>
      <altName>Квартира</altName>
      <hide>false</hide>
      <delete>false</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>PC_COMM</name>
      <altName>Примечание</altName>
      <hide>false</hide>
      <delete>false</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>LAR_NAME</name>
      <altName>Причина прикрепления</altName>
      <hide>false</hide>
      <delete>false</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>DOC_SNILS</name>
      <altName>СНИЛС врача</altName>
      <hide>false</hide>
      <delete>false</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>SMOCODE</name>
      <altName>Код СМО</altName>
      <hide>false</hide>
      <delete>false</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>KLSTREET</name>
      <altName>Код КЛАДР</altName>
      <hide>false</hide>
      <delete>true</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>DISTRICTMO</name>
      <altName>Участок МИС</altName>
      <hide>false</hide>
      <delete>true</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>PC_BDATE</name>
      <altName>PC_BDATE</altName>
      <hide>false</hide>
      <delete>true</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>PERSON_ID</name>
      <altName>PERSON_ID</altName>
      <hide>false</hide>
      <delete>true</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>PC_ID</name>
      <altName>PC_ID</altName>
      <hide>false</hide>
      <delete>true</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>MO_CODE</name>
      <altName>MO_CODE</altName>
      <hide>false</hide>
      <delete>true</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>MO_EDNUM</name>
      <altName>MO_EDNUM</altName>
      <hide>false</hide>
      <delete>true</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>PC_NUM</name>
      <altName>PC_NUM</altName>
      <hide>false</hide>
      <delete>true</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>PC_EDATE</name>
      <altName>PC_EDATE</altName>
      <hide>false</hide>
      <delete>true</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>LAT_CODE</name>
      <altName>LAT_CODE</altName>
      <hide>false</hide>
      <delete>true</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>LAT_NAME</name>
      <altName>LAT_NAME</altName>
      <hide>false</hide>
      <delete>true</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>LAR_CODE</name>
      <altName>LAR_CODE</altName>
      <hide>false</hide>
      <delete>true</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>LDR_CODE</name>
      <altName>LDR_CODE</altName>
      <hide>false</hide>
      <delete>true</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>LDR_NAME</name>
      <altName>LDR_NAME</altName>
      <hide>false</hide>
      <delete>true</delete>
    </ColumnSynonim>
    <ColumnSynonim>
      <name>PC_IDATE</name>
      <altName>PC_IDATE</altName>
      <hide>false</hide>
      <delete>true</delete>
    </ColumnSynonim>
  </ColumnSynonims>
</Settings>